<header>     
    <a href="" class="logo"><h1>DrewMet</h1></a>
    <a href="" class="NameLastN">ANTON PAULAU</a>
    <nav>
        <ul class="topmenu">
            <li><a href="">Home</a></li>
            <li><a href="">Information</a>
                <ul class="submenu">
                    <li><a href="pages/EN/page_orderBuy.html">Payment and delivery</a></li>
                    <li><a href="pages/EN/page_about.html">About us</a></li>                        
                </ul> 
            </li>
            <li><a href="">Lumber</a>
                <ul class="submenu">
                    <li><a href="pages/EN/page1.html">Edged lumber</a></li>
                    <li><a href="pages/EN/page2.html">Unedged lumber</a></li>
                    <li><a href="pages/EN/page3.html">A pallet blank</a></li>
                    <li><a href="pages/EN/page4.html">Split firewood</a></li>
                    <li><a href="pages/EN/page5.html">Slab/Sawdust</a></li> 
                    
                </ul>
            </li>
            <li><a href="pages/EN/page_products.html" class="submenu-link">Gallery</a> </li>
            <li><a href="pages/EN/page_contact.html">Contacts</a></li>  
        </ul>

        <ul class="mobile_menu">
            <li><a href="/pages/EN/page1.html">Edged lumber</a></li>
            <li><a href="/pages/EN/page2.html">Unedged lumber</a></li>
            <li><a href="/pages/EN/page3.html">A pallet blank</a></li>
            <li><a href="/pages/EN/page4.html">Split firewood</a></li>
            <li><a href="/pages/EN/page5.html">Slab / Sawdust</a></li> 
            <li><a href="/pages/EN/page_contact.html">Contacts</a></li>
            <li><a href="/pages/EN/page_orderBuy.html">Payment and delivery</a></li>
            <li><a href="/pages/EN/page_products.html" class="submenu-link">Gallery</a> </li>
            <li><a href="/pages/EN/page_about.html">About us</a></li>  
        
        </ul>

    </nav>  
    
</header>   
