<div class="carousel" id="carousel">
    <div class="imgleft" (click)="imageLeftClick()">
        <!-- <img id="carouselLeft" src="assets/images/Products/leftArr.jpg" alt="Left Arrow Navigation" /> -->
    </div>
    <div class="container" id="container">
        <!-- <img src="assets/images/Products/balka.jpg" id="img_balka" alt="balka" />
            <img src="assets/images/Products/brusok.jpg" id="img_brusok" alt="brusok" />
            <img src="assets/images/Products/drova.jpg" id="img_drova" alt="drova" />
            <img src="assets/images/Products/gorbil.jpg" id="img_gorbil" alt="gorbil" />
            <img src="assets/images/Products/nerdoska.jpg" id="img_nerdoska" alt="nerdoska" />
            <img src="assets/images/Products/opilki.jpg" id="img_opilki" alt="opilki" />
            <img src="assets/images/Products/palet.jpg" id="img_palet" alt="palet" />
            <img src="assets/images/Products/rdoska.jpg" id="img_rdoska" alt="rdoska" /> -->
    </div>
    <div class="imgright"> 
        <!-- (click)="imageRightClick()"> -->
        <!-- <img id="carouselRight" src="assets/images/Products/rightArr.jpg" alt="Right Arrow Naviagtion" /> -->
    </div>
</div>